@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}

h1 {
  line-height: 80px;
  font-weight: bold;
  font-size: 64px;
}

h2 {
  line-height: 20px;
  font-weight: bold;
  font-size: 28px;
}

p {
  line-height: 25px;
  font-weight: 400;
  font-size: 16px;
  color: #6c6c6c;
}

.btn {
  display: inline-block;
  font-size: 16px;
  padding: 10px 25px;
  color: white;
  background-color: #e02c6e;
  text-decoration: none;
  transition: transform 0.5s;
}

.btn:hover {
  transform: scale(1.2);
}
.btn > i {
  padding-left: 8px;
}

@media (max-width: 700px) {
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    line-height: 30px;
    font-weight: bold;
    font-size: 25px;
  }
}

/* Slider Styles */

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2d26a0;
  padding: 5% 15%;
}
#slider-heading {
  color: white;
  margin-bottom: 30px;
}

.slider > div {
  width: 50%;
}

.slider > div > img {
  display: block;
  width: 100%;
  transition: transform 0.5s;
}

.slider > div > img:hover {
  transform: scale(1.1) translateX(50px);
}

/* Slider Media queries */
@media (max-width: 700px) {
  .slider {
    flex-direction: column;
    padding: 5% 10%;
  }
  .slider > div {
    text-align: left;
    width: 100%;
  }
  .slider > div > img {
    display: block;
    margin-top: 20%;
    width: 100%;
  }
}

/* Players Section styles */

.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 5% 13%;
}

.player {
  margin: 15px;
  box-shadow: 1px 1px 25px rgba(128, 128, 128, 0.399);
  padding: 15px;
  padding-bottom: 30px;
}
.player > img {
  width: 100%;
}

/* Players Section media queries */
@media (max-width: 700px) {
  .players {
    grid-template-columns: 1fr;
    margin-top: 40px;
    padding: 5% 5%;
  }
  .player {
    box-shadow: 1px 1px 25px rgba(128, 128, 128, 0.399);
    padding: 15px;
    padding-bottom: 30px;
  }
}

@media (max-width: 801px) {
  .players {
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    padding: 5% 5%;
  }
  .player {
    box-shadow: 1px 1px 25px rgba(128, 128, 128, 0.399);
    padding: 15px;
    padding-bottom: 30px;
  }
}

/* Highlights Section Styles */
.highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 15%;
}

.highlights img {
  width: 80%;
}

.highlights > div {
  width: 50%;
}

.highlights > div > img {
  display: block;
  width: 100%;
}

.highlights > div > h1 {
  font-size: 48px;
  line-height: 60px;
  margin: 0px;
}

.highlights > div > a {
  margin-top: 5px;
}

/* Highlight Section media queries */
@media (max-width: 700px) {
  .highlights {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .highlights > div {
    width: 100%;
  }
  .highlights > div > h1 {
    font-size: 28px;
    line-height: 40px;
    margin: 0px;
  }
  .highlights > div > img {
    margin-top: 30px;
  }
}
/* Vision Styles  */

.vision {
  background-image: url(images/vision.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2d26a0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 15%;
  text-align: center;
}

.vision h1 {
  color: white;
  margin-bottom: 5px;
}
.vision p {
  color: white;
}

.vision .btn {
  background-color: #2d26a0;
  color: white;
}

/* Latest News  */

.latest-news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 15%;
}

.latest-news h1 {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 10%;
}

.latest-news .posts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.latest-news .posts article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 10px;
  box-shadow: 1px 1px 25px rgba(128, 128, 128, 0.399);
  padding-bottom: 30px;
  border-radius: 5%;
}

.latest-news .posts img {
  width: 100%;
  padding: 0px;

  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.latest-news .posts h2 {
  font-size: 25px;
  margin-top: 30px;
}

/* Latest News Section media queries */
@media (max-width: 700px) {
  .latest-news {
    padding: 5% 10%;
  }
  .latest-news h1 {
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 10%;
  }
  .latest-news .posts {
    flex-direction: column;
  }
  .latest-news .posts h2 {
    font-size: 20px;
    margin-top: 30px;
  }

  .latest-news .posts article {
    margin: 5px;
    margin-top: 20px;
  }
}

@media (max-width: 801px) {
  .latest-news .posts {
    flex-direction: column;
  }
}

/* Footer styles */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5% 15%;
}

footer img {
  width: 30%;
}

footer .social-icons a {
  text-decoration: none;
}

footer .social-icons a i {
  color: #6c6c6c;
  margin-right: 8px;
}

/* Footer Section media queries */
@media (max-width: 700px) {
  footer img {
    width: 80%;
  }
}
